.header
  .mainWrap
    .headerLeft 
      a(href='/')
        i.fab.fa-instagram.logo
        span Instagram
    .hederMain 
    ul.headerRight 
      if !locals.isLogin
        li
          a(href='/login') LOGIN
        li
          a(href='/join') JOIN
      else
        li
          a(href=`${routes.CONTENTS_UPLOAD}`).far.fa-edit.headerIcon
        li
          a(href='/logout').fas.fa-sign-out-alt.headerIcon