input {
  width: 80%;
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #000;
  font-size: 14px;
}

label {
  width: 80%;
  margin-bottom: 5px;
  font-weight: bold;
}

textarea {
  width: 80%;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #000;
}

button {
  margin-top: 25px;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  background-color: #3897f0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

button.redBtn {
  background-color: red;
}

.mainWrap {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.centerBox {
  display: flex;
  box-shadow: 0px 0px 10px 3px rgba(180, 180, 180, 0.3);
  border-radius: 10px;
  background-color: #fff;
}

.contentsBox {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 20px;
  border: 1px solid rgba(180, 180, 180, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  .contentsHeader {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.3);
    .creatorBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      .avatar {
        width: 40px;
        height: 40px;
      }
    }
    .moreBtn {
      position: relative;
      padding: 10px 5px;
      ul {
        display: none;
        position: absolute;
        top: 20px;
        right: -50px;
        background-color: #fff;
        z-index: 9;
        box-shadow: 0px 0px 10px 3px rgba(180, 180, 180, 0.3);
        border-radius: 10px;
        li {
          padding: 10px 15px;
          cursor: pointer;
        }
        li:hover {
          text-decoration: underline;
        }
      }
    }
    .moreBtn:hover {
      ul {
        display: block;
      }
    }
  }
  .contentsBody {
    height: 500px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contentsFooter {
    padding: 10px 20px;
    border-top: 1px solid rgba(180, 180, 180, 0.3);
    > div {
      margin-bottom: 5px;
    }
    .iconBox {
      font-size: 20px;
      span {
        padding-right: 10px;
        cursor: pointer;
      }
      .like {
        color: red;
      }
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .userName {
    p {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
    }
    span {
      color: #888;
      font-size: 12px;
    }
  }
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 50%;
}

.hidden {
  display: none !important;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .modal__content {
    background-color: white;
    padding: 50px 100px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .btn2 {
    all: unset;
    color: steelblue;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
  }

  .btn3 {
    all: unset;
    cursor: pointer;
    width: 100%;
    margin-top: 35px;
  }
}
