extends layouts/main
include mixins/contentBlock

block content
    .homeBox.mainWrap
        div
            each item in contents
                +contentBlock({
                    idx: item.idx,
                    creator: item.creator,
                    profile_img: item.profile_img,
                    fileUrl: item.fileUrl,
                    title: item.title,
                    value:  item.value,
                    date: item.regdate,
                })
        .userInfoBox
            if locals.isLogin
                a(href=`/users/${locals.user.idx}`) 
                    .userInfo 
                        .avatar(style=`background-image:url("${locals.user.profile_img}")`)
                        .userName 
                            p #{locals.user.nickname}
                            span #{locals.user.email}
                .followerBox 팔로워 리스트
            else         
                .followerBox 추천 팔로워 리스트