extends layouts/main
include mixins/contentBlock

block content
    div 로그인 여부 : #{locals.isLogin}
    each item in contents
        +contentBlock({
            idx: item.idx,
            creator: item.creator,
            content: item.fileUrl,
            date: item.regdate
        })