extends layouts/main
include mixins/contentBlock

block content
    .centerBox.joinBox
        h1 프로필 수정
        form(action=`/users/${contents.idx}/edit`, method='post', enctype="multipart/form-data")
            input(type="file", id="profile_img", name="profile_img", accept="image/*")
            input(type='text', name='nickname', placeholder='nickname', value=contents.nickname required=true)
            button(type='submit') 정보수정