extends layouts/main
include mixins/contentBlock

block content
    .userBox.mainWrap
        .userInfoBox 
            .userInfo 
                .avatar(style=`background-image:url("${userInfo.profile_img}")`)
                .userName 
                    p #{userInfo.nickname}
                    span #{userInfo.email}
                    if (locals.isLogin && userInfo.idx === locals.user.idx)
                        button(type='button' onclick=`location.href='/users/${userInfo.idx}/edit'`) 프로필 편집

            div
        .userContentWrap
            each item in contents
                +userContentBlock({
                    idx: item.idx,
                    creator: item.creator,
                    title: item.title,
                    fileUrl: item.fileUrl,
                    value:  item.value,
                    date: item.regdate
                })