mixin replyBlock(content = {})
        li 
            div
                .avatar(style=`background-image:url("${content.profile_img}")`)
                span.creator #{content.nickname}
                p #{content.reply}
            p.regdate #{content.regdate}