.contentDetailBox {
  justify-content: center;
  margin: 120px 0 70px;
  .contentsBox {
    margin: 0;
    border: none;
  }
  .replyBox {
    width: 350px;
    border-left: 1px solid rgba(180, 180, 180, 0.3);
    padding: 50px 10px;
    > span {
      font-weight: bold;
    }
    .replyList {
      overflow: auto;
      height: 500px;
      max-height: 500px;
      padding: 10px 0;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid rgba(180, 180, 180, 0.3);
        > a {
          display: flex;
          align-items: center;
          flex-direction: row;
          .avatar {
            width: 30px;
            height: 30px;
          }
          .creator {
            font-weight: bold;
            margin-right: 5px;
          }
        }
        .regdate {
          color: rgba(180, 180, 180, 1);
          font-size: 12px;
        }
      }
    }
    .replyInputBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 1px solid #888;
      border-radius: 30px;
      margin: 15px 10px;
      textarea {
        flex: 1;
        max-height: 25px;
        margin: 0;
        padding: 2px 0 0;
        border: 0;
        margin: 3px 10px 0;
        font-size: 14px;
      }
      button {
        width: 70px;
        height: 30px;
        margin: 0;
        border-radius: 30px;
        background: transparent;
        color: #000;
        cursor: pointer;
      }
    }
  }
}
