.homeBox {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  justify-content: center;
  .userInfoBox {
    position: sticky;
    top: 100px;
    left: 0;
    width: 300px;
    height: 400px;
    margin-left: 30px;
    .followerBox {
      overflow: hidden;
      background: #fff;
      border: 1px solid rgba(180, 180, 180, 0.3);
      border-radius: 5px;
      h2 {
        padding: 15px 10px;
        border-bottom: 1px solid rgba(180, 180, 180, 0.3);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        background-color: #3897f0;
        color: #ffffff;
      }
      .userInfo {
        border-bottom: 1px solid rgba(180, 180, 180, 0.3);
        margin:0px;
        padding:10px;
      }
    }
  }
}
