.userBox {
  flex: 1;
  margin-top: 100px;
  .userInfoBox {
    display: flex;
    justify-content: row;
    align-items: center;
    .userInfo {
      margin: 30px 60px;
      .avatar {
        width: 150px;
        height: 150px;
        margin-right: 40px;
      }
      .userIntroduction {
        margin-top: 10px;
      }
      .userBtn {
        margin-top: 10px;
        li {
          padding: 10px 0;
          margin-right: 20px;
          cursor: pointer;
        }
        li:before {
          padding-right: 3px;
        }
      }
    }
  }
  .accountInfo {
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(180, 180, 180, 0.3);
    border-bottom: 1px solid rgba(180, 180, 180, 0.3);
    padding: 15px 0;
    li {
      display: flex;
      width: 100px;
      align-items: center;
      justify-content: center;
      span {
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }
  .userContentWrap {
    overflow: hidden;
    padding: 40px 0;
    .contentsBox {
      float: left;
      width: 320px;
      height: 350px;
      margin-bottom: 20px;
    }
    .contentsBox:nth-child(3n - 1) {
      margin: 0 20px;
    }
    .contentsBody {
      border-radius: 5px;
    }
  }
}
